.App {
  text-align: center;
}

.navBar {
  background-color: blueviolet;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

form {
  margin: 40px 0;

}

input, button {
  width: 160px;
  height: 30px;
  font-size: 20px;
  margin: 0 10px;
}

button{
  width: 120px;
}

.light-mode{
  background-color: #fff;
  color: #333;
}

.dark-mode{
  background-color: #1a1919;
  color: #999;
}

.dark-mode .navBar {
  background-color: #1b2938;
}